<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="mb-3 mt-3">Create new Listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype ="multipart/form-data" >
                <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" placeholder="Enter a catchy title" name="listing[title]" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Title required!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">Description required!</div>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" name="listing[image]" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4 ">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" placeholder="1200" name="listing[price]" class="form-control" required>
                <div class="invalid-feedback">Price should be valid!</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" placeholder="India" name="listing[country]" class="form-control" required>
                <div class="invalid-feedback">Country name required!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" placeholder="Jaipur,Rajasthan" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback">Location required!</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select form-control" id="category" name ="listing[category]"aria-label="Default select example" required>
                    <option selected>Filter your destination</option>
                    <option value="Trending">Trending</option>
                    <option value="Luxury Rooms">Luxury Rooms</option>
                    <option value="Iconic Cities">Iconic Cities</option>
                    <option value="Mountains">Mountains</option>
                    <option value="Beach">Beach</option>
                    <option value="Amazing Pools">Amazing Pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Domes">Domes</option>
                    <option value="Boats">Boats</option>
                  </select>
                <div class="invalid-feedback">Location required!</div>
            </div>
            
            <button class="btn btn-dark btn-add mt-3">Add</button>
        </form>
        </div>
    </div>
    <br>
</body>

